asgiref==3.8.1
awscli==1.35.21
backports.tarfile==1.2.0
boto3==1.35.55
botocore==1.35.55
build==1.2.2.post1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
colorama==0.4.6
cryptography==43.0.3
Django==5.1.3
django-environ==0.11.2
docutils==0.16
idna==3.10
importlib_metadata==8.5.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jeepney==0.8.0
jmespath==1.0.1
keyring==25.5.0
markdown-it-py==3.0.0
mdurl==0.1.2
more-itertools==10.5.0
nh3==0.2.18
packaging==24.2
pkginfo==1.10.0
pyasn1==0.6.1
pycparser==2.22
Pygments==2.18.0
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
PyYAML==6.0.2
readme-renderer==37.3
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.9.4
rsa==4.7.2
s3transfer==0.10.3
SecretStorage==3.3.3
six==1.16.0
sqlparse==0.5.1
tomli==2.1.0
twine==5.1.1
typing_extensions==4.12.2
urllib3==2.2.3
-e ./warranty_lib
zipp==3.21.0
