files:
  "/etc/nginx/conf.d/01_nginx_custom.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # Optimize NGINX for better performance
      server {
        types_hash_max_size 2048;
        client_max_body_size 10M; # Adjust this limit based on your needs
      }

container_commands:
  01_reload_nginx:
    command: "sudo systemctl reload nginx"
