{% extends "base.html" %}
{% block title %}File a New Claim{% endblock %}
{% block content %}
<h1>File a New Claim</h1>

{% if messages %}
    <ul>
        {% for message in messages %}
            <li style="color: green;">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form method="POST">
    {% csrf_token %}
    <label for="description">Description:</label>
    <textarea name="description" id="description" required></textarea><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" placeholder="Enter your email" required><br><br>

    <button type="submit" class="btn btn-success">Submit Claim</button>
</form>

<p><a href="{% url 'list_user_claims' %}" class="btn btn-secondary">Back to Claims List</a></p>
{% endblock %}
