<!DOCTYPE html>
<html>
<head>
    <title>Claims for {{ product.product_name }}</title>
</head>
<body>
    <h1>Claims for {{ product.product_name }}</h1>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if claims %}
        <ul>
            {% for claim in claims %}
                <li>
                    Claim ID: {{ claim.SK|slice:"6:" }}<br>
                    Description: {{ claim.description }}<br>
                    Status: {{ claim.status }}<br>
                    <a href="{% url 'delete_claim' claim.SK|slice:'6:' %}">Delete Claim</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No claims found for this product.</p>
    {% endif %}
    <p><a href="{% url 'list_user_claims' %}">Back to All Claims</a></p>
</body>
</html>
